.topBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #eee;

}

.callImg {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.currentUser {
    color:rgb(194, 106, 6);
}